<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>


<body class="bg-secondary">

    <div class="container-fluid">

        <div class="">
            <h2 class="text-center font-monospace">
                Paypal to M-pesa cost calculator
            </h2>

            <h3 class="text-center text-warning">To calculate the ammount you wish to receive click on either link below : </h3>
        </div>

        <hr>

        <div class="row d-flex justify-content-center">
    
            <div class="col-md-6">

                <p>
                    To calculate without rates click : <a href="{% url 'index:rates' %}"> Calculate </a>
                </p>

                <p>
                    To calculate with rates click :<a href="{% url 'index:index' %}"> Calculate </a>
                </p>

            </div>

        </div>
       

    </div>

</body>

</html>


